<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="filenameForLogger" value="log"/>
    <add key="documentTypeForLogger" value=".txt"/>
  </appSettings>

  <connectionStrings>
    <add name="EKE-DB" connectionString="Data Source=193.225.33.22;&#xD;&#xA;                                           Initial Catalog=EKE-SQL-BEAD-XI2QPB;&#xD;&#xA;                                           User Id=xi2qpb;&#xD;&#xA;                                           Password=aA123456;"


                                                              />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61310/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference.IService"
        name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>